[submodule "modules/history-substring-search/external"]
	path = modules/history-substring-search/external
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "modules/syntax-highlighting/external"]
	path = modules/syntax-highlighting/external
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "modules/completion/external"]
	path = modules/completion/external
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "modules/prompt/external/powerline"]
	path = modules/prompt/external/powerline
	url = https://github.com/davidjrice/prezto_powerline.git
[submodule "modules/prompt/external/agnoster"]
	path = modules/prompt/external/agnoster
	url = https://gist.github.com/3712874.git
[submodule "modules/prompt/functions/pure"]
	path = modules/prompt/external/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "modules/alias-tips/external"]
	path = modules/alias-tips/external
	url = https://github.com/djui/alias-tips
[submodule "modules/autosuggestions/external"]
	path = modules/autosuggestions/external
	url = https://github.com/tarruda/zsh-autosuggestions
[submodule "modules/blackbox/external"]
	path = modules/blackbox/external
	url = https://github.com/StackExchange/blackbox
[submodule "modules/composure/external"]
	path = modules/composure/external
	url = https://github.com/erichs/composure
[submodule "modules/directory-history/external"]
	path = modules/directory-history/external
	url = https://github.com/tymm/zsh-directory-history
[submodule "modules/dropbox/external"]
	path = modules/dropbox/external
	url = https://github.com/andreafabrizi/Dropbox-Uploader
[submodule "modules/url-highlighting/external"]
	path = modules/url-highlighting/external
	url = https://github.com/ascii-soup/zsh-url-highlighter
[submodule "modules/zgen/external"]
	path = modules/zgen/external
	url = https://github.com/tarjoilija/zgen/
